input[type=submit].hidden-button {
  visibility: hidden;
}

input[type=text].comment-box:focus {
  outline: none;
}

form.comment-form{
  margin-right: 15px;
  max-height: 75px;
}

input[type=text].comment-box {
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #F4F2F2;
  background: white;
  width: 570px;
  height: 20px;
  margin-left: 15px;
  margin-right: 0px;
}
