.dashboard-navbar {

  margin-left: 50px;
  text-align: justify;
  border-bottom: 1px solid #E9E8E8;
}



.insta-logo, .instapic-small, .search-box,.search-img,
.empty-heart, .user-icon, .compass{
  height: 30px;
  margin-top: 22px;
  margin-bottom: 19px;
  text-align: center;
}

.insta-logo {
  opacity: 0.9;
}

.compass {
  position: absolute;
  height: 30px;
  margin-left: 750px;
}

.user-icon {
  position: absolute;
  margin-left: 850px;
  height: 28px;
}

.empty-heart {
  position: fixed;
  margin-left: 800px;
  height: 28px;
}

.user-icon, .empty-heart,.compass {
  cursor: pointer;
}

.insta-logo{
  margin-right: 0px;
  padding-right: 25px;
  border-right: 1px solid grey;
}

input[type=text].search-box, .search-img {
  position: absolute;
  font-size: 13px;
  align: center;
  margin-left: 250px;
  height: 24px;
  align-self: center;
  z-index: 1;
}
input[type=text].search-box {
  width: 240px;
  height: 25px;
  cursor: not-allowed;
}
.search-img {
  z-index: 2;
  height: 35px;
  margin-top: 20px;
  margin-left: 260px;
  opacity: 0.4;
}

.instapic-small{
  margin-left: 20px;
}

.header-group {
  background-color: white;
  margin: 0;
}

::placeholder {
  color: #C2C4C7;

}

.header-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  font-size: 50px;
}
