.dashboard-navbar {
  display: flex;
  margin-left: 12.5%;
  text-align: justify;
  border-bottom: 1px solid #E9E8E8;
  // z-index: 99;
  margin-bottom: 0;
}

img.upload-post {
  // margin-left: 500px;
}

ul.post {
  margin-top: 140px;   
  margin-left: 8%;
}

embed.music {
  margin-bottom: -5px;
}
.insta-logo, .instapic-small, .search-box,.search-img,
.empty-heart, .user-icon, img.in-user-icon, .compass, img.upload-post {
  height: 30px;
  margin-top: 22px;
  margin-bottom: 19px;
  text-align: center;
}

button.create-post-modal-dashboard {
  position: absolute;
  margin-top: 25px;
  margin-left: 600px;
  height: 25px;
  font-family: sans-serif;
  border-radius: 10%;
}

button.create-post-modal-dashboard:hover {
  cursor: pointer;
}

.insta-logo {
  opacity: 0.9;
}

.compass {
  position: absolute;
  height: 27px;
  margin-left: 940px;
  background-color: white;
  opacity: 0.7;
}

.user-icon {
  position: absolute;
  margin-left: 900px;
  height: 28px;
}
img.in-user-icon {
  position: absolute;
  margin-left: 1060px;
  height: 28px;
}

.empty-heart {
  position: fixed;
  margin-left: 1000px;
  height: 28px;
}

.user-icon, .empty-heart,.compass {
  cursor: pointer;
}

.empty-heart {
  cursor: not-allowed;
}

.user-icon:hover, .compass:hover {
  transform: scale(1.2);
}

.insta-logo{
  margin-right: 0px;
  padding-right: 25px;
  border-right: 1px solid grey;
}

.insta-logo:hover {
  cursor: pointer;
}

input[type=text].search-box, .search-img {
  position: absolute;
  font-size: 13px;
  align: center;
  margin-left: 250px;
  height: 24px;
  align-self: center;
  // z-index: 99;
}
input[type=text].search-box {
  margin-top: 0;
  width: 240px;
  height: 25px;
  cursor: not-allowed;
  margin-bottom: 19px;
}
.search-img {
  // z-index: 99;
  height: 35px;
  margin-top: 0;
  margin-left: 260px;
  opacity: 0.4;
}

.instapic-small{
  margin-left: 20px;
}

.instapic-small:hover {
  cursor: pointer;
}

.header-group {
  background-color: white;
  margin: 0;
}

::placeholder {
  color: gray;
  opacity: 0.7;
  font-family: sans-serif;
}

.header-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

h1 {
  font-size: 50px;
}
