.header-group {

}

.header-name {
  color: gray;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 520;
}

.instapic-text {
  font-family: cursive;
}
body{

}
.iphone-screen {
  position: absolute;
  margin-left: 190px;
  margin-right: 20px;
  width: 440px;
  margin-top: 40px;
  z-index: 2;
}
.instapic-text{
  height: 65px;
}
.intro-container{
  display: flex ;
}
.login-button {
  background: navy;
}

ul {
  list-style: none;
}

li {
  align-content: center;
  font-family: sans-serif;
  font-size: 13px;
  color: red;
}

.login-form-container {
  position: absolute;
  margin-left: 500px;
  padding-bottom: 58px;
  padding-top: 40px;
}

body{
  background-color: #FBFBFB;
  z-index: 1;
}

 .login-form-container, .intro-signup {
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 25px;
  border: 1px solid lightgrey;
  background-color: white;
  width: 350px;
  text-align: center;
}

.intro-signup {
  position: absolute;
  margin-left: 650px;
  padding-bottom: 50px;
}

input[type=text], input[type=password] {
  background-color: #FBFBFB;
  height: 30px;
  width: 250px;
  color:grey;
  margin-bottom: 3px;
  border: 1px solid #EBECEC;
  font-size: 14px;
}

input[type=submit], .signin-link {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  height: 28px;
  background-color: #3C97E8;
  width: 250px;
  margin-top: 18px;
  font-family: serif;
}

.signin-link {
  text-align: center;
  text-decoration: none;
  font-family: serif;
  font-size: 18px;
  // font-family: sans-serif;
  // font-weight: normal;
}

.pic-one {
  position: absolute;
  width: 239px;
  height: 421px;
  z-index: 3;
  opacity: 0.95;
  margin-left: 333px;
  margin-top: 133px;
}
