.header-group {

}

.header-name {
  color: gray;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 520;
}

.instapic-text {
  font-family: cursive;
}
body{

}
.iphone-screen {
  margin-left: 100px;
  margin-right: 20px;
  width: 440px;
  margin-top: 40px;
}

.login-signup {
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 25px;
  border: 1px solid lightgrey;
  width: 350px;
  text-align: center;
}
.instapic-text{
  height: 65px;
}
.intro-container{
  display: flex;
}
.login-button {
  background: navy;
}
