
.header-name {
  color: grey;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 520;
  opacity: 0.9;
}


.instapic-text {
  font-family: cursive;
}

.intro-container{
  margin-top: 6.5%;
  margin-left: 3%;
  display: flex ;
}

.iphone-screen {
  position: absolute;
  margin-left: 215px;
  margin-right: 20px;
  width: 440px;
  margin-top: 10px;
  // z-index: 2;
}

.pic-one {
  position: absolute;
  width: 240px;
  height: 422px;
  // z-index: 3;
  opacity: 0.95;
  margin-left: 357px;
  margin-top: 103px;
}

div.post-body {
  top: 30px;
}

.instapic-text{
  height: 65px;
}

ul {
  list-style: none;
}

li {
  align-content: center;
  font-family: sans-serif;
  font-size: 13px;
  color: red;
}

.login-form-container,  {
  position: absolute;
  margin-left: 35%;
  padding-bottom: 55px;
}

body{
  background-color: #FBFBFB;
  // z-index: 1;
}

 .login-form-container, .intro-signup, {
  padding-top: 40px;
  margin-top: 70px;
  border: 1px solid lightgrey;
  background-color: white;
  width: 350px;
  text-align: center;
}

.intro-signup,.seperate-box, .seperate-box-2  {
  position: absolute;
  margin-left: 640px;
  padding-bottom: 38px;
}
.seperate-box {
  margin-top: 610px;
  border: 1px solid lightgrey;
  background: white;
  width: 350px;
  height: 30px;
  padding-bottom: 20px;
  padding-top: 15px;
  text-align: center;
}

.copy-right, .copy-right-bold {
  color: gray;
  font-family: sans-serif;
  margin-top: 20px;
  opacity: 0.7;
  font-size: 14px;
}

.copy-right-bold {
  font-weight: 500;
  opacity: 0.85;
  margin-top: 5px;
}

.session-submit {
  font-family: sans-serif;
}

input[type=text], input[type=password] {
  background-color: #FBFBFB;
  height: 30px;
  width: 250px;
  color:black;
  margin-bottom: 3px;
  border: 1px solid #EBECEC;
  font-size: 14px;
}

input[type=submit],  .demo-user, .demo-user-intro, button.session-submit {
  border-radius: 3px;
  cursor: pointer;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  height: 28px;
  background-color: #3C97E8;
  width: 250px;
  margin-top: 18px;
  font-family: serif;
  border: 0;
}
input[type=submit].disabled{
  opacity: 0.3;
  cursor: not-allowed;
}
.demo-user, .demo-user-intro {
  font-family: sans-serif;
  font-size: 14px;
  border: 0;
}

.login-input {
  margin-top: 2px;
  color: #D3D3D3;
}

.signin-link, .signin-link1 {
  position: static;
  text-align: center;
  text-decoration: none;
  font-family: serif;
  font-size: 18px;
  color: #3897F2;
}
.signin-link1 {
  margin-left: 5px;
}

.or-dash {
  color: grey;
  font-size: 20px;
  font-family: sans-serif;

}

