.header-group {

}

.header-name {
  color: gray;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 520;
}

.instapic-text {
  font-family: 'Roboto', sans-serif;
}

.iphone-screen {
  min-width: 400px;
  max-width: 500px;
}
