div.post-item {
  // display: flex;
  padding-top: 13px;
  margin-left: 16%;
  width: 614px;
  border: 1px solid lightgrey;
  text-align: center;
  margin-bottom: 60px;
  background-color: white;
  padding-bottom: 0px;
  overflow: hidden;
}

img.post-picture {
  max-width: 614px;
  clear: left;
}

h6.post-user, h6.post-user-top {
  font-weight:bold;
  margin-left: 20px;
  text-align: justify;
}

span.user-name-text {
  display: block;
  margin-top: 9px;
  font-family: sans-serif;
}

h6.post-user-top {
  margin-top: 8px;
  font-family: sans-serif;
  font-weight: 15px;
  color: black;
}

img.like-heart, img.comment-logo, img.bookmark-logo {
  height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 18px;
}

li.comment-item {
  margin-top: 0px;
  display: flex;
  padding-right: 18px;
  justify-content: space-between;
  // z-index: 5;
}

img.comment-delete-logo:hover {
  cursor: pointer;
  // z-index: ;
}

img.comment-delete-logo {
  position: relative;
  height: 15px;
  weight: auto;
  margin-top: 1px;
  opacity: 0.7;
  // z-index: 6;
}

.comment-line {
  display: flex;

}

img.like-heart:hover, img.bookmark-logo:hover  {

  transform: scale(1.2);
}

img.bookmark-logo {
  float: right;
  margin-right: 18px;
}

img.comment-logo{
  margin-left: 10px;
}

img.post-picture {
  display: block;
  margin: auto;
  // margin-top: 13px;
  clear: both;
  max-height: 614px;
  max-width: 614px;
}

img.preview {
  max-width: 400px;
  float: right;
}

img.current-user-icon {
  height: 62px;
  width: auto;
  cursor: pointer;
}
span.friend {
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-weight: 100;
  opacity: 0.8;
  color: gray;
}
.current-user-icon-container, .current-user-icon-container-main {
  margin-top: 8px;
  border: 2px solid #FB8B0A;
  display: inline-flex;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  margin-right: 10px;
}

.current-user-icon-container-main {
  border: 1px solid lightgray;
}

div.post-page {
   display: flex; 
   align-content: space-between;
}

div.current-user-featured {
  width: 293px; 
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

span.featured-user {
  margin-top: 140px;
  position: fixed;
  margin-left: 870px;
  align-content: center;
  text-align: center;
}

h6.post-user, .post-description, h6.post-user-top  {
  color: black;
  font-size: 15px;
  font-family: sans-serif;
  clear: left;
}

h6.post-user {
  margin-bottom:4px;
}

.post-description {
  font-weight: normal;
  margin-left: 8px;
}
