img.post-picture {
  max-width: 614px;
}

h6.post-user {
  font-weight:bold;
  margin-left: 20px;
  text-align: justify;
}

div.post-item {
  padding-top: 50px; //take out after getting profile pic
  margin-left: 15%;
  width: 614px;
  border: 1px solid lightgrey;
  text-align: center;
  margin-top: 60px;
  background-color: white;
  padding-bottom: 18px;
}

img.preview {
  max-width: 400px;
}

.post-user, .post-description  {
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}
