img.post-picture {
  max-width: 614px;
}

h6.post-user {
  font-weight:bold;
}

div.post-item {
  padding-top: 50px; //take out after getting profile pic
  margin-left: 15%;
  width: 614px;
  border: 1px solid lightgrey;
  text-align: center;
  margin-top: 60px;
  background-color: white;
}

img.preview {
  max-width: 400px;
}
