img.user-show-instapic-small {
  height: 30px;
  margin-top: 22px;
  margin-bottom: 19px;
  text-align: center;
  margin-left: 20px;
}

.profile-body, .user-show-posts  {
  display: flex;
  flex-direction: row;
  margin-left: 195px;
}

img.user-show-instapic-small:hover {
  transform: scale(1.2);
}

input[type=submit].make-post-button {
    height: 26px;
    width: 70px;
    border-radius: 10%;
    border: 1px solid lightgrey;
    background-color: inherit;
    color: black;
}

.user-show-posts {
  border-top: 1px solid lightgrey;
  width: 970px;
}

img.in-user-icon {
  transform: scale(1.1);
}



img.user-show-post {
  width: 293px;
  // height: 293px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.user-show-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 30px;
}

.default-user-icon  {
  margin: 15px 94px 70px 94px;
  width: 152px;
  height: 152px;
  border-radius: 50%;
}

h2.user-show-username {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 27px;
}

h2.bio, h3.bio-text {
  font-weight: normal;
  font-family: sans-serif;
}

h2.bio {
  font-size: 20px;
}

h3.bio-text {
  font-size: 16px;
}
